.dataentry-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dataentry-hero {
  width: 100%;
  height: 1095px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.dataentry-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dataentry-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.dataentry-logo {
  width: 64px;
}
.dataentry-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.dataentry-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dataentry-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.dataentry-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.dataentry-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.dataentry-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.dataentry-logo1 {
  width: 120px;
  height: 31px;
  margin-left: var(--dl-space-space-halfunit);
}
.dataentry-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.dataentry-left {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.dataentry-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.dataentry-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.dataentry-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.dataentry-container3 {
  display: contents;
}
.dataentry-header {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.dataentry-container4 {
  width: 869px;
}
.dataentry-container5 {
  display: contents;
}
.dataentry-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.dataentry-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.dataentry-left1 {
  width: 33%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.dataentry-text06 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dataentry-subscription {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: #ffffff;
}
.dataentry-textinput {
  width: 60%;
  outline: none;
  font-size: 14px;
  border-width: 0px;
}
.dataentry-subscribe {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: #5228F5;
}
.dataentry-subscribe:hover {
  background-color: #000;
}
.dataentry-text07 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.dataentry-text08 {
  color: #686868;
  font-size: 14px;
}
.dataentry-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.dataentry-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.dataentry-contact {
  display: flex;
  margin-top: 52px;
  align-items: flex-start;
  flex-direction: column;
}
.dataentry-text09 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.dataentry-link {
  color: rgb(196, 196, 196);
  font-size: 14px;
  align-self: center;
  text-decoration: underline;
}
.dataentry-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.dataentry-category1 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.dataentry-text10 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.dataentry-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.dataentry-text11 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-text12 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-text13 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-text14 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-category2 {
  width: 240px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.dataentry-text15 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.dataentry-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.dataentry-text16 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-text17 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-text18 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-text19 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-text20 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-text21 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.dataentry-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.dataentry-branding {
  width: 162px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 40px;
  align-self: center;
  margin-bottom: 2px;
}
.dataentry-text22 {
  color: #a229ad;
  font-size: 14px;
  align-self: center;
  line-height: 30px;
}
@media(max-width: 991px) {
  .dataentry-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .dataentry-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .dataentry-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .dataentry-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .dataentry-logo1 {
    width: 100%;
    height: 33px;
  }
  .dataentry-links1 {
    display: none;
  }
  .dataentry-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .dataentry-mobile-menu-button {
    display: flex;
  }
  .dataentry-header {
    width: 100%;
    max-width: 1200px;
  }
  .dataentry-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .dataentry-top {
    flex-direction: column;
  }
  .dataentry-left1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .dataentry-text08 {
    color: rgb(104, 104, 104);
    font-size: 14px;
  }
  .dataentry-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .dataentry-text09 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .dataentry-link {
    text-decoration: underline none;
  }
  .dataentry-links2 {
    gap: var(--dl-space-space-unit);
  }
  .dataentry-links3 {
    gap: var(--dl-space-space-unit);
  }
  .dataentry-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .dataentry-text22 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .dataentry-hero {
    height: 746px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .dataentry-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dataentry-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dataentry-left {
    margin-left: var(--dl-space-space-unit);
  }
  .dataentry-right {
    margin-right: var(--dl-space-space-unit);
  }
  .dataentry-header {
    height: 100%;
    position: relative;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .dataentry-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .dataentry-hero {
    height: 938px;
    padding-bottom: 160px;
  }
  .dataentry-logo {
    margin-left: 0px;
  }
  .dataentry-icon {
    align-items: center;
    justify-content: center;
  }
  .dataentry-centered {
    position: relative;
  }
  .dataentry-logo1 {
    top: 14px;
    left: 19px;
    width: 107px;
    height: 31px;
    position: absolute;
    align-self: center;
  }
  .dataentry-header {
    position: relative;
  }
  .dataentry-footer {
    height: 844px;
    position: relative;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dataentry-subscription {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dataentry-right1 {
    position: relative;
  }
  .dataentry-contact {
    align-self: center;
  }
  .dataentry-category2 {
    top: 139px;
    right: 0px;
    position: absolute;
  }
  .dataentry-text15 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .dataentry-bottom {
    position: relative;
  }
  .dataentry-branding {
    left: 168px;
    bottom: -140px;
    position: absolute;
  }
  .dataentry-text22 {
    left: 119px;
    bottom: 10px;
    position: absolute;
  }
}
