.signupdetails-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signupdetails-hero {
  width: 100%;
  height: 875px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.signupdetails-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signupdetails-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.signupdetails-logo {
  width: 64px;
}
.signupdetails-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.signupdetails-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signupdetails-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.signupdetails-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.signupdetails-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.signupdetails-logo1 {
  width: 120px;
  height: 31px;
  margin-left: var(--dl-space-space-halfunit);
}
.signupdetails-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.signupdetails-left {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.signupdetails-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.signupdetails-sign-in {
  margin-right: 20px;
}
.signupdetails-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.signupdetails-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.signupdetails-container2 {
  display: contents;
}
.signupdetails-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.signupdetails-text06 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.signupdetails-text07 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 50px;
}
.signupdetails-form {
  width: 840px;
  height: 329px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #5818b1;
}
.signupdetails-textinput {
  top: 53px;
  left: 318px;
  color: #ffffff;
  width: 209px;
  height: 46px;
  position: absolute;
  align-self: center;
  background-color: #ffffff;
}
.signupdetails-textinput1 {
  top: 140px;
  left: 320px;
  width: 209px;
  height: 46px;
  position: absolute;
  align-self: center;
}
.signupdetails-text08 {
  top: 61px;
  left: 75px;
  position: absolute;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: justify;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  text-transform: uppercase;
  background-color: var(--dl-color-gray-white);
  border-top-left-radius: var(--dl-radius-radius-radius8);
}
.signupdetails-text09 {
  top: 148px;
  left: 156px;
  position: absolute;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: justify;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  text-transform: uppercase;
  background-color: rgb(217, 217, 217);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.signupdetails-navlink {
  left: 371px;
  width: 94px;
  bottom: 40px;
  height: 33px;
  position: absolute;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-decoration: none;
}
.signupdetails-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.signupdetails-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.signupdetails-left1 {
  width: 33%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.signupdetails-text10 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.signupdetails-subscription {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: #ffffff;
}
.signupdetails-textinput2 {
  width: 60%;
  outline: none;
  font-size: 14px;
  border-width: 0px;
}
.signupdetails-subscribe {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: #5228F5;
}
.signupdetails-subscribe:hover {
  background-color: #000;
}
.signupdetails-text11 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.signupdetails-text12 {
  color: #686868;
  font-size: 14px;
}
.signupdetails-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.signupdetails-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.signupdetails-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.signupdetails-contact {
  display: flex;
  margin-top: 52px;
  align-items: flex-start;
  flex-direction: column;
}
.signupdetails-text13 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.signupdetails-link {
  color: rgb(196, 196, 196);
  font-size: 14px;
  align-self: center;
  text-decoration: underline;
}
.signupdetails-text14 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.signupdetails-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.signupdetails-category1 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.signupdetails-text15 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.signupdetails-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.signupdetails-text16 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-text17 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-text18 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-text19 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-category2 {
  width: 240px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.signupdetails-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.signupdetails-text20 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-text21 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-text22 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-text23 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-text24 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-text25 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signupdetails-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.signupdetails-branding {
  width: 162px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 40px;
  align-self: center;
  margin-bottom: 2px;
}
.signupdetails-text26 {
  color: #a229ad;
  font-size: 14px;
  align-self: center;
  line-height: 30px;
}
@media(max-width: 991px) {
  .signupdetails-hero {
    height: 865px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .signupdetails-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .signupdetails-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .signupdetails-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .signupdetails-logo1 {
    width: 64px;
  }
  .signupdetails-links1 {
    display: none;
  }
  .signupdetails-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .signupdetails-sign-in {
    display: none;
  }
  .signupdetails-mobile-menu-button {
    display: flex;
  }
  .signupdetails-header {
    width: 100%;
    max-width: 1200px;
  }
  .signupdetails-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .signupdetails-top {
    flex-direction: column;
  }
  .signupdetails-left1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .signupdetails-text12 {
    color: rgb(104, 104, 104);
    font-size: 14px;
  }
  .signupdetails-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .signupdetails-text13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .signupdetails-link {
    text-decoration: underline none;
  }
  .signupdetails-links2 {
    gap: var(--dl-space-space-unit);
  }
  .signupdetails-links3 {
    gap: var(--dl-space-space-unit);
  }
  .signupdetails-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .signupdetails-text26 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .signupdetails-hero {
    height: 743px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .signupdetails-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .signupdetails-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .signupdetails-left {
    margin-left: var(--dl-space-space-unit);
  }
  .signupdetails-right {
    margin-right: var(--dl-space-space-unit);
  }
  .signupdetails-sign-in {
    display: none;
  }
  .signupdetails-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .signupdetails-text06 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .signupdetails-text07 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-space-space-unit);
    line-height: 24px;
  }
  .signupdetails-form {
    height: 1053px;
  }
  .signupdetails-navlink {
    left: 618px;
    bottom: 66px;
  }
  .signupdetails-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .signupdetails-hero {
    top: 0px;
    left: 0px;
    height: 714px;
    position: absolute;
    padding-bottom: 160px;
  }
  .signupdetails-logo {
    margin-left: 0px;
  }
  .signupdetails-icon {
    align-items: center;
    justify-content: center;
  }
  .signupdetails-centered {
    position: relative;
  }
  .signupdetails-logo1 {
    top: 14px;
    left: 19px;
    width: 78px;
    height: 35px;
    position: absolute;
    align-self: center;
  }
  .signupdetails-text07 {
    color: #EEE9FE;
  }
  .signupdetails-form {
    width: 100%;
    height: 338px;
    position: absolute;
  }
  .signupdetails-text08 {
    top: 16px;
    left: 324px;
  }
  .signupdetails-footer {
    height: 844px;
    position: relative;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .signupdetails-subscription {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .signupdetails-right1 {
    position: relative;
  }
  .signupdetails-contact {
    align-self: center;
  }
  .signupdetails-text14 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .signupdetails-category2 {
    top: 139px;
    right: 0px;
    position: absolute;
  }
  .signupdetails-bottom {
    position: relative;
  }
  .signupdetails-branding {
    left: 168px;
    bottom: -140px;
    position: absolute;
  }
  .signupdetails-text26 {
    left: 119px;
    bottom: 10px;
    position: absolute;
  }
}
