.signup-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.signup-hero {
  width: 100%;
  height: 1095px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.signup-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.signup-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.signup-logo {
  width: 64px;
}
.signup-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.signup-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.signup-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.signup-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.signup-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.signup-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.signup-navlink {
  display: contents;
}
.signup-logo1 {
  width: 120px;
  height: 31px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.signup-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.signup-left {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.signup-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.signup-sign-in {
  margin-right: 20px;
}
.signup-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.signup-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.signup-container3 {
  display: contents;
}
.signup-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.signup-text06 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.signup-text07 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 50px;
}
.signup-form {
  width: 1000px;
  height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #5818b1;
}
.signup-textinput {
  top: 53px;
  left: 318px;
  color: #ffffff;
  width: 209px;
  height: 46px;
  position: absolute;
  align-self: center;
  background-color: #ffffff;
}
.signup-textinput1 {
  top: 330px;
  left: 450px;
  width: 209px;
  height: 46px;
  position: absolute;
  align-self: center;
}
.signup-inpCountryCode {
  width: 80px; /* Adjust the width as needed */
  padding: 10px;
  margin-top:55px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 150px;
  font-size: 16px;
  outline: none; /* Remove the default input outline */
}
.signup-text088{
  top: 61px;
  left: 175px;
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-align: justify;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  text-transform: uppercase;
  background-color: var(--dl-color-gray-white);
  border-top-left-radius: var(--dl-radius-radius-radius8);
}
.signup-text08 {
  top: 150px;
  left: 175px;
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-align: justify;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  text-transform: uppercase;
  background-color: var(--dl-color-gray-white);
  border-top-left-radius: var(--dl-radius-radius-radius8);
}
.signup-text09 {
  top: 338px;
  left: 250px;
  position: absolute;
  align-self: center;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  text-align: justify;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-style: groove;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  text-transform: uppercase;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.signup-inpPhone{
   margin-top: 55px;
   margin-left:150px;
   padding: 4px;
   height:40px;
   border-radius: 2px;
}
.signup-button2{
  top: 250px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.signup-button {
  top: 250px;
  left: 300px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.signup-button1 {
  top: 328px;
  right: 200px;
  width: 94px;
  height: 33px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
#signup-navlink1-button{
  top: 228px;
  right: 200px;
  width: 94px;
  height: 33px;
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.signup-navlink1 {
  left: 371px;
  width: 94px;
  bottom: 40px;
  height: 33px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-decoration: none;
}
#signup-navlink1-button{
        margin-top: 180px;
        margin-right: 300px;
}
.signup-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.signup-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.signup-left1 {
  width: 33%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.signup-text10 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.signup-subscription {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: #ffffff;
}
.signup-textinput2 {
  width: 60%;
  outline: none;
  font-size: 14px;
  border-width: 0px;
}
.signup-subscribe {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
  background-color: #5228F5;
}
.signup-subscribe:hover {
  background-color: #000;
}
.signup-text11 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.signup-text12 {
  color: #686868;
  font-size: 14px;
}
.signup-right1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.signup-category {
  width: 240px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.signup-contact {
  display: flex;
  margin-top: 52px;
  align-items: flex-start;
  flex-direction: column;
}
.signup-text13 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.signup-link {
  color: rgb(196, 196, 196);
  font-size: 14px;
  align-self: center;
  text-decoration: underline;
}
.signup-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.signup-category1 {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.signup-text14 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.signup-links2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.signup-text15 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-text16 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-text17 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-text18 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-category2 {
  width: 240px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.signup-text19 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.signup-links3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.signup-text20 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-text21 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-text22 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-text23 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-text24 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-text25 {
  color: rgb(196, 196, 196);
  font-size: 14px;
}
.signup-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.signup-branding {
  width: 162px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  height: 40px;
  align-self: center;
  margin-bottom: 2px;
}
.signup-text26 {
  color: #a229ad;
  font-size: 14px;
  align-self: center;
  line-height: 30px;
}
@media(max-width: 991px) {
  .signup-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .signup-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .signup-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .signup-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .signup-logo1 {
    width: 100%;
    height: 33px;
  }
  .signup-links1 {
    display: none;
  }
  .signup-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .signup-sign-in {
    display: none;
  }
  .signup-mobile-menu-button {
    display: flex;
  }
  .signup-header {
    width: 100%;
    max-width: 1200px;
  }
  .signup-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .signup-top {
    flex-direction: column;
  }
  .signup-left1 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .signup-text12 {
    color: rgb(104, 104, 104);
    font-size: 14px;
  }
  .signup-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .signup-text13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .signup-link {
    text-decoration: underline none;
  }
  .signup-links2 {
    gap: var(--dl-space-space-unit);
  }
  .signup-links3 {
    gap: var(--dl-space-space-unit);
  }
  .signup-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .signup-text26 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .signup-hero {
    height: 746px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .signup-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .signup-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .signup-left {
    margin-left: var(--dl-space-space-unit);
  }
  .signup-right {
    margin-right: var(--dl-space-space-unit);
  }
  .signup-sign-in {
    display: none;
  }
  .signup-header {
    height: 100%;
    position: relative;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .signup-text06 {
    top: 52px;
    left: 187px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .signup-text07 {
    top: 109px;
    left: 78px;
    color: rgb(238, 233, 254);
    position: absolute;
    font-size: 16px;
    line-height: 24px;
  }
  .signup-form {
    left: -30px;
    bottom: 99px;
    height: 293px;
    position: absolute;
  }
  .signup-textinput {
    top: 53px;
    left: 306px;
  }
  .signup-textinput1 {
    top: 142px;
    left: 308px;
  }
  .signup-text08 {
    top: 61px;
    left: 57px;
  }
  .signup-button {
    top: 56px;
    left: 550px;
  }
  .signup-button1 {
    top: 58px;
    right: 80px;
  }
  .signup-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .signup-hero {
    height: 938px;
    padding-bottom: 160px;
  }
  .signup-logo {
    margin-left: 0px;
  }
  .signup-icon {
    align-items: center;
    justify-content: center;
  }
  .signup-centered {
    position: relative;
  }
  .signup-logo1 {
    top: 14px;
    left: 19px;
    width: 107px;
    height: 31px;
    position: absolute;
    align-self: center;
  }
  .signup-header {
    position: relative;
  }
  .signup-text06 {
    top: 45px;
    left: 49px;
    position: absolute;
  }
  .signup-text07 {
    top: 113px;
    left: -2px;
    color: #EEE9FE;
    position: absolute;
  }
  .signup-form {
    top: 398px;
    left: 0px;
    width: 478px;
    height: 414px;
    padding-right: 0px;
  }
  .signup-textinput {
    top: 78px;
    left: 130px;
  }
  .signup-textinput1 {
    top: 241px;
    left: 140px;
  }
  .signup-text08 {
    top: 17px;
    left: 130px;
  }
  .signup-text09 {
    top: 172px;
    left: 189px;
  }
  .signup-button1 {
    top: 88px;
    right: 21px;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  }
  .signup-navlink1 {
    left: 188px;
    bottom: 54px;
  }
  #signup-navlink1-button{
    margin-top: 230px;
    margin-right: 20px;
}
  .signup-footer {
    height: 844px;
    position: relative;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .signup-subscription {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .signup-right1 {
    position: relative;
  }
  .signup-contact {
    align-self: center;
  }
  .signup-category2 {
    top: 139px;
    right: 0px;
    position: absolute;
  }
  .signup-text19 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  .signup-bottom {
    position: relative;
  }
  .signup-branding {
    left: 168px;
    bottom: -140px;
    position: absolute;
  }
  .signup-text26 {
    left: 119px;
    bottom: 10px;
    position: absolute;
  }
}
